* {
  font-family: Montserrat;
}

/* HEADER */

header {
  background: #273646;
  font-weight: bolder;
}

.left-nav, .right-nav {
  height: 110px;
  line-height: 110px;
}

.right-nav ul li{
  margin-right: 50px;
  list-style: none;
  display: inline-block;
}

/*  CONTENT CONTAINER */

/* START BOOTSTRAP SECTION */

.start-section {
  background: #17B491;
}

.start-body h1 {
  font-weight: bolder;
}






/* FOOTER */

/* footer {
  padding: 20px 0;
  background: black;
  color: white;
  text-align: center
} */
