* {
  font-family: Montserrat;
}

.latoFontFamily {
  font-family: Lato;
}
section {
  padding: 50px 0;
}

/* HEADER */

header {
  background: #273646;
  font-weight: bolder;
}

.left-nav, .right-nav {
  height: 110px;
  line-height: 110px;
}

.nav_item {

  list-style: none;
  display: inline-block;
}

.nav_link:hover {
  color: #17B491;
  text-decoration: none;
}


/* START BOOTSTRAP SECTION */

.start-section, .about-section {
  background: #17B491;
}

.start-section h1 {
  font-weight: bolder;
}

/* ABOUT */

.btn_download {
  border: 2px solid white;
  background: #17B491;
  color: white;
  padding: 15px 35px;
  font-size: 25px;
}

.btn_download:hover {
  background: white;
  color:black;
}

/* CONTACTFORM SECTION */

.form-group.bottomBorder {
  border-bottom: 1px solid rgb(233,236,239);
}
.form-control {
  border: 0;
  box-shadow: none;
  font-family: Lato;
  font-size: 30px;
}

.form-group textarea {
  resize: none;
}

.form-group {
  margin-bottom: 30px;
}

.form-control:focus {
  box-shadow: none;
}

.btn_send {
  border: 2px solid white;
  border-radius: 8px;
  background: #17B491;
  color: white;
  padding: 15px 35px;
  font-size: 20px;
  font-family: Lato;
}

.btn_send:hover {
  background: #128f76;
  color: white;
}

/* CONTACTS AND SOCIALS */

.contactsAndSocials-section {
  background: #273646;
}

.contactsAndSocials-section span.startBootstrap {
  color: #17B491;
}

.contactsAndSocials-section .socials {
  margin: 0 auto;
}

.social-item {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  color: white;
}

.social-item:hover {
  background: white;
  color: #273646;
}

.social-item  .fab {
  font-size: 25px;
}

/* FOOTER */

footer {
  background: #192129;
}

/* MEDIA QUERY */

@media all and (min-width:1000px) {
  .left-nav {
    font-size: 31px;
  }

  .right-nav {
    font-size: 12px;
    padding-right: 50px;
  }

  .nav_item {
    margin-right: 10px;
  }

}

@media all and (min-width: 660px) and (max-width: 999px) {
  .left-nav {
    font-size: 17px;
    text-align: center;
    padding-left: 30px;
  }

  .right-nav {
    font-size: 14px;
    padding-right: 30px;
  }

  .nav_item {
    margin-right: 10px;
  }

}

@media all and (min-width:500px) and (max-width: 659px) {

  .left-nav {
    font-size: 13px;
  }

  .right-nav {
    font-size: 14px;
    padding-right: 30px;
  }

  .nav_item {
    margin-right: 10px;
  }
}

@media all and (max-width: 499px) {
  .left-nav {
    font-size: 7px;
  }

  .right-nav {
  font-size: 6px;
  }

  .nav_item {
    margin-right: 10px;
  }

  .start-section h1 {
    font-size: 30px;
    font-weight: bolder;
  }
}
